.movies-card-list {
  margin: 22px 0 0;
  width: 100%;
  padding: 0 70px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 32px;
  row-gap: 32px;
}

@media screen and (max-width: 1024px) {
  .movies-card-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
  }
}
