.movies-card {
  width: 100%;
  min-height: 200px;
  background-color: #222222;
  border-radius: 6px;
}

.movies-card__text-container {
  margin: 18px 0 0;
  padding: 0 18px 0;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 18px;
}

@media screen and (max-width: 520px) {
  .movies-card__text-container {
    margin: 14px 0 0;
    padding: 0 14px 0;
  }
}

.movies-card__title {
  /* flex: 1 1 100%;
  min-width: 0;
  max-width: 60%; */
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
@media screen and (max-width: 520px) {
  .movies-card__title {
    font-size: 12px;
    line-height: 18px;
  }
}

.movies-card__title_full {
  position: absolute;
  padding: 13px;
  top: -6px;
  left: 10px;
  background-color: #161616;
  border-radius: 3px;
  max-width: 250px;
  max-height: 200px;
  opacity: 0;
  transition: opacity ease-in 0.2s;
}

.movies-card__title:hover + .movies-card__title_full {
  opacity: 1;
}

@media screen and (max-width: 520px) {
  .movies-card__title_full {
    max-width: 200px;
    font-size: 12px;
    line-height: 18px;
  }
}

.movies-card__duration {
  margin: 0 0 0 4px;
  font-weight: 400;
  white-space: nowrap;
  font-size: 13px;
  line-height: 18px;
  color: #8b8b8b;
  max-width: 75px;
}
@media screen and (max-width: 520px) {
  .movies-card__duration {
    font-size: 10px;
    line-height: 18px;
  }
}

.movies-card__poster-container {
  margin: 18px 0 0;
  display: flex;
  align-items: center;
  width: 100%;
  aspect-ratio: 18 / 10;
}
@media screen and (max-width: 520px) {
  .movies-card__poster-container {
    margin: 15px 0 0 0;
  }
}

.movies-card__poster {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.movie-save-button-container {
  display: flex;
  justify-content: center;
  margin: 18px 0 18px;
}

@media screen and (max-width: 520px) {
  .movie-save-button-container {
    margin: 11px 0 14px;
  }
}
