.movies {
  margin: 0 auto 0;
  max-width: 1280px;
  width: 100%;
  background-color: #202020;
}

.movies__loadmore-btn {
  margin: 57px auto 80px;
  width: 320px;
  height: 36px;
  background: transparent;
  outline: none;
  cursor: pointer;

  border: 1px #8b8b8b solid;
  border-radius: 5px;

  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
}
