@use "../../global";

* {
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  color: global.$primary-color;
}

.link-hover-effect {
  transition: opacity 0.2s ease-in-out;
}

.link-hover-effect:hover {
  opacity: 0.7;
}

.button-hover-effect {
  transition: opacity 0.2s ease-in-out;
}

.button-hover-effect:hover {
  opacity: 0.8;
}

// .app-test {
//   max-width: 360px;
// }
