.techbox {
  background: #303030;
  border-radius: 10px;
  width: 90px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 980px) {
  .techbox {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
}
