.saved-movies-wrapper {
  background-color: #202020;
  width: 100%;
}

.saved-movies {
  margin: 0 auto 0;
  max-width: 1280px;
  width: 100%;
}

.saved-movies-hidden-header {
  display: none;
}

.saved-movies__spacer {
  width: 100%;
  height: 230px;
}

@media screen and (max-width: 470px) {
  .saved-movies__spacer {
    height: 207px;
  }
}
