.header-container {
  margin: 0;
  width: 100%;
  background-color: #073042;
  padding: 0 70px;
  min-height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 38px;
  height: 38px;
}
