.forminput {
  position: relative;
}

.forminput__input {
  width: 100%;
  height: 46px;
  background-color: #2f2f2f;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 0 0 0 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

@media screen and (max-width: 470px) {
  .forminput__input {
    width: 260px;
  }
}

.forminput__input:focus {
  outline: 1px solid #fff;
}

/* .forminput__input:invalid {
  outline: 1px solid #f00;
} */

.form-input-validation-message {
  position: absolute;
  top: 71px;
  left: 0;
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
}

.forminput__label {
  margin: 0 0 10px;
  display: block;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
}
