.footer {
  margin: 0;
  width: 100%;
  background-color: #202020;
  padding: 79px 70px 0;
  min-height: 172px;
}

@media screen and (max-width: 980px) {
  .footer {
    padding: 43px 30px 0;
  }
}

@media screen and (max-width: 470px) {
  .footer {
    padding: 42px 10px 0;
    min-height: 216px;
  }
}

.footer__title {
  margin: 0;
  border-bottom: 1px #424242 solid;
  height: 37px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  text-align: center;

  color: #8b8b8b;
}

@media screen and (max-width: 470px) {
  .footer__title {
    font-size: 12px;
    line-height: 15px;
  }
}

.footer__bottom-container {
  margin: 20px 0 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 470px) {
  .footer__bottom-container {
    margin: 30px 0 0;
    height: 87px;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.footer__copyright {
  font-family: "Inter";
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

@media screen and (max-width: 470px) {
  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
  }
}

.footer__links-container {
  width: 182px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 470px) {
  .footer__links-container {
    flex-direction: column;
    align-items: center;
    height: 42px;
  }
}

.footer__link {
  font-family: "Inter";
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  display: block;
}

@media screen and (max-width: 470px) {
  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }
}

.footer__link:visited {
  color: #fff;
}
