.login {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  min-height: 700px;
  background-color: #202020;

  display: flex;
  justify-content: center;
}

@media screen and (max-width: 980px) {
  .login {
    min-height: 1024px;
  }
}

.login__container {
  width: 396px;
  margin: 70px 0 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 980px) {
  .login__container {
    margin: 232px 0 0;
  }
}

@media screen and (max-width: 470px) {
  .login__container {
    width: 260px;
    margin: 56px 0 0;
    align-items: center;
  }
}

.login__heading {
  margin: 36px 0 0;
  font-family: "Inter";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

@media screen and (max-width: 470px) {
  .login__heading {
    margin: 46px 0 0;
  }
}

.login__form {
  margin: 41px 0 0;
  padding: 0;
  position: relative;
}

@media screen and (max-width: 470px) {
  .login__form {
    margin: 81px 0 0;
  }
}

.login__form-input {
  margin: -1px 0 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 156px;
}

@media screen and (max-width: 980px) {
  .login__form-input {
    margin: -1px 0 0;
  }
}

@media screen and (max-width: 470px) {
  .login__form-input {
    margin: 0 0 0;
    height: 155px;
  }
}

.login__form-submit-button {
  margin: 145px 0 0;
}

@media screen and (max-width: 980px) {
  .login__form-submit-button {
    margin: 147px 0 0;
  }
}

@media screen and (max-width: 470px) {
  .login__form-submit-button {
    margin: 232px 0 0;
  }
}

.login__bottom-text-container {
  margin: 17px 0 30px;
  display: flex;
  justify-content: center;
}

.login__bottom-text-question {
  margin: 0 6px 0 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
}

@media screen and (max-width: 470px) {
  .login__bottom-text-question {
    font-size: 12px;
    line-height: 15px;
  }
}

.login__bottom-text-link {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285f4;
  text-decoration: none;
}

@media screen and (max-width: 470px) {
  .login__bottom-text-link {
    font-size: 12px;
    line-height: 15px;
  }
}

.login__bottom-text-link:visited {
  color: #4285f4;
}
